@model webpllkdt.Models.DatHang
@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage2.cshtml";
}
<div class="d-flex justify-content-center">
    <h2>THÔNG TIN ĐƠN HÀNG</h2>
</div>
@if (ViewBag.JsonSanPham != null)
{
    var json = ViewBag.JsonSanPham.ToString();
    var products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<object>>(json);

    <table class="table table-bordered">
        <tr>
            <th>Mã SP</th>
            <th>Tên SP</th>
            <th>Hình Ảnh</th>
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
            <th>Thành Tiền</th>
        </tr>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.MaSP</td>
                <td>@product.TenSP</td>
                <td>
                    <img style="width: 50px; height: 50px" src="~/img/HinhAnh/@(product.TenSP).png" alt="Alternate Text" />
                </td>
                <td>@product.SoLuong</td>
                <td>@product.DonGia.Value.ToString("C")</td>
                <td>@product.ThanhTien.Value.ToString("C")</td>
            </tr>
        }
    </table>
}
<div class="d-flex justify-content-center">
    <a class="btn btn-danger" href="duyetdondathang">Quay lại</a>
</div>

