@model List<webpllkdt.Models.SanPham>
@{
    ViewBag.Title = "QuanLy";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage2.cshtml";
}

<a href="/admin/admin/insert" class="btn btn-primary mb-3">Thêm sản phẩm mới</a>
<form class="d-flex align-items-center mb-3" action="/admin/admin/quanly" method="post">
    <label for="search" class="mx-2 my-1">Search</label>
    <input type="search" class="form-control w-auto" id="search" name="search" value="@ViewBag.Search" placeholder="Nhập tên sản phẩm..." />
    <button type="submit" class="btn btn-primary mx-2">Tìm</button>
</form>
@{ string iconclass = "";
    if (ViewBag.IconClass == "fa-sort-asc")
    {
        iconclass = "fa-sort-desc";
    }
    else
    {
        iconclass = "fa-sort-asc";
    } }
<table class="table table-striped">
    <tr>
        <th>
            <a href="/admin/admin/quanly?SortColumn=ID&IconClass=@iconclass&Page=1">ID</a>
            @if (ViewBag.SortColumn == "ID")
            {
                <i class="fa @ViewBag.IconClass"></i>}
        </th>
        <th style="width: 25px">Thương Hiệu</th>
        <th style="width: 100px">

            <a href="/admin/admin/quanly?SortColumn=TenSP&IconClass=@iconclass&Page=1">Tên sản phẩm</a>
            @if (ViewBag.SortColumn == "TenSP")
            {
                <i class="fa @ViewBag.IconClass"></i>}
        </th>
        <th>Số Lượng</th>
        <th>

            <a href="/admin/admin/quanly?SortColumn=GiaTien&IconClass=@iconclass&Page=1">Giá Tiền</a>
            @if (ViewBag.SortColumn == "GiaTien")
            {
                <i class="fa @ViewBag.IconClass"></i>}
        </th>
        @*<th>Giá Khuyến Mãi</th>*@
        <th>Hình</th>
        <th>Chi tiết sản phẩm</th>
        <th>Tùy chỉnh</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaSP</td>
            <td>@item.PhanLoaiSanPham.NhaSanXuat</td>
            <td>@item.TenSP.Trim()</td>
            <td>@item.SoLuong</td>
            <td>@item.GiaBan.Value.ToString("C")</td>
            @*@if (@item.GiaGiam != null)
                    {
                <td>@item.GiaGiam.Value.ToString("C")</td> }
                                else
                                {
                <td>@item.GiaGiam</td>}*@
            <td>
                <img style="width: 80px; height: 80px; border: 1px solid lightgray; border-radius: 10px" src="~/img/HinhAnh/@(item.TenSP.Trim()).png" alt="Alternate Text" />
            </td>
            <td>
                <a class="btn bg-success text-white mt-3" href="/admin/admin/chitietsp/@item.MaSP">Chi tiết</a> <br />
            </td>
            <td>
                <a class="btn bg-success text-white mt-3" href="/admin/admin/editsanpham?id=@item.MaSP">Edit Thông tin</a>
                <a class="btn bg-danger text-white mt-3" href="/admin/admin/deletesanpham/@item.MaSP">Xóa</a>
            </td>

        </tr>
    }
    <tr>
        <td colspan="9">
            @{ int PrevPage = ViewBag.Page - 1;
                if (PrevPage <= 0)
                {
                    PrevPage = 1;
                }
                int NextPage = ViewBag.Page + 1;
                if (NextPage > ViewBag.NoOfPages)
                {
                    NextPage = ViewBag.NoOfPages;
                } }
            <ul class="pagination justify-content-center">
                @if (ViewBag.Page == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="/admin/admin/quanly?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&Page=@PrevPage">
                            Prev
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/admin/admin/quanly?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&Page=@PrevPage">
                            Prev
                        </a>
                    </li>
                }
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/admin/admin/quanly?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&Page=@(i+1)">
                                @(i+1)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/admin/admin/quanly?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&Page=@(i+1)">
                                @(i+1)
                            </a>
                        </li>
                    }
                }
                @if (ViewBag.Page == ViewBag.NoOfPages)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="/admin/admin/quanly?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&Page=@NextPage">
                            Next
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item active">
                        <a class="page-link" href="/admin/admin/quanly?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&Page=@NextPage">
                            Next
                        </a>
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>

